.contact{
  width: 100%;
  height: 80vh;
  background-color: white;
  font-family: 'Architects Daughter', cursive;
}
.screencontact{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.coordonnees{
  margin-left: 4em;
  font-size: 36px;
  color: var(--main);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.phonenum{
  color: var(--main);
  text-decoration: none;
}
.phonenum:visited, .phonenum:link, .phonenum:active{
  color: var(--main);
  text-decoration: none;
}


@media (max-width: 1000px) and (orientation: portrait){
  .contact{
    height: 180vh;
    width: 100vw;
  }
  .screencontact{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
  }
  .coordonnees{
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    margin-left: -0.5em;
  }
}