.footer{
  width: calc( 100vw - 20px);
  height: 10vh;
  background-color: var(--secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.socialfooter{
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.signature{
  margin-left: 20px;
}

@media (max-width: 1000px) and (orientation: portrait){
  .footer{
    width: 100vw;
    height: 20vh;
    flex-direction: column;
  }
  .socialfooter{
    width: 100%;
  }
  .signature{
    margin-left: 0;
  }
}