@import '../config/colors.css';

.header{
  background-color: var(--main);
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.title{
  white-space: nowrap;
  font-size: 56px;
  margin-left: 32px;
  color: white;
}
.firstname{
  font-family: Montserrat;
}
.lastname{
  font-family: Anton;
}
.menu{
  margin-right: 32px;
}
#menu-icon{
  display: none;
}
.menu-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

@media (max-width: 1000px) and (orientation: portrait) {
  .btn{
    font-size: 12px;
    width: 100px;
    height: 38px;
  }
  .header{
    transition: height 0.5s;
    overflow: hidden;
    align-items: flex-start;
  }
  .menu{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
  }
  #menu-icon{
    display: inline;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 24px;
  }
  .menu-list{
    display: flex;
    padding-left: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .titlespace{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .title{
    white-space: normal;
    font-size: 24px;
    margin-left: 12px;
  }
  .menu{
    margin-right: 12px;
  }
}