@import './config/colors.css';

/* width */
::-webkit-scrollbar {
  width: 20px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-main); 
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--light-main); 
}

.App {
  text-align: center;
  width: calc( 100vw - 20px);
  height: 360vh;
  background-color: red;
}
@media (max-width: 1000px) and (orientation: portrait) {
  .App{
    width: 100vw;
    height: 750vh;
    background-color: green;
    overflow-x: hidden;
  }
}
